/* This is the home page css wellcome */
/* this where we edited card one which was the card holding the history page card */
.card1 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #F6FFA6;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   /* this is the before code/ the code containg the text inside  */
   .card1::before {
    content: 'History page';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
/* this is where we edited the z-index and box shadow  and other intresting things  */
   .card1 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: #F6FFA6;
   }
/* this is the animation edit / the hover edit    */
   .card1:hover div {
    transform: translateY(-30px);
   }
/* this where we edited card All the cards without animation or design */
.card2 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #F6FFA6;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}
/* this where we edited card 3 which was the card holding the facts page card */
.card3 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #F6FFA6;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
      /* this is the before code/ the code containg the text inside  */
   .card3::before {
    content: 'Facts page';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   /* this is where we edited the z-index and box shadow  and other intresting things  */
   .card3 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: #F6FFA6;
   }  
    /* this is the animation edit / the hover edit    */
   .card3:hover div {
    transform: translateY(-30px);
   }  
/* this where we edited card five which was the card holding the Types page card */
.card5 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #F6FFA6;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
      /* this is the before code/ the code containg the text inside  */
   .card5::before {
    content: 'Types page';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
      /* this is where we edited the z-index and box shadow  and other intresting things  */
   .card5 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: #F6FFA6;
   } 
   /* this is the animation edit / the hover edit    */
   .card5:hover div {
    transform: translateY(-30px);
   } 
