body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid;
    border-radius: 10px;
    background: rgb(255,224,195);
    background: linear-gradient(90deg, rgba(255,224,195,1) 0%, rgba(255,224,195,1) 30%, rgba(65,209,255,1) 100%);
}
.nav-links{
    display: flex;
}
.link{
    text-decoration: none;
    color: #000;
    margin: 15px;
    font-size: larger;
    font-family: Merriweather Sans;
}
#logo{
    margin-right: 15px;

}
.title-line{
    width: 200px;
    height: 5px;
    color: #000;
}
.title{
    text-align: center;
    font-size: xxx-large;
    font-family: Merriweather Sans;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}