/* if you want it more detailed check the home.css code or style .css */
/* this where we edited card 1 which was the card holding the mini cube card */
.card1 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card1::before {
    content: 'Mini Cube';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card1 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card1:hover div {
    transform: translateY(-30px);
   }
   /* this where we edited the container holding all cards*/

.rubics-cube{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* this where we edited card 2 which was the card holding the 3 by 3 card */

.card2 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card2::before {
    content: 'Rubiks Cube';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card2 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card2:hover div {
    transform: translateY(-30px);
   }
   /* this where we edited card 3 which was the card holding the master cube card */

.card3 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card3::before {
    content: 'Master Cube';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card3 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card3:hover div {
    transform: translateY(-30px);
   }
   /* this where we edited card 4 which was the card holding the skewb card */
.card4 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card4::before {
    content: 'Skewb';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card4 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card4:hover div {
    transform: translateY(-30px);
   }
      /* this where we edited card 4 which was the card holding the prototype card */

.card5 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card5::before {
    content: 'Prototype';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card5 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card5:hover div {
    transform: translateY(-30px);
   }
      /* this where we edited card 4 which was the card holding the mage mix card */
.card6 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card6::before {
    content: 'MegaMix';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card6 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card6:hover div {
    transform: translateY(-30px);
   }
      /* this where we edited card 4 which was the card holding the mirror card */
.card7 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card7::before {
    content: 'Mirror';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card7 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card7:hover div {
    transform: translateY(-30px);
   }
      /* this where we edited card 4 which was the card holding the pyramix card */
.card8 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card8::before {
    content: 'Pyramix';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card8 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card8:hover div {
    transform: translateY(-30px);
   }
      /* this where we edited card 4 which was the card holding the Master Pyramix card */
.card9 {
    width: 254px;
    height: 254px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: cadetblue;
    display: flex;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }
   
   .card9::before {
    content: 'MasterPyramix';
    letter-spacing: 0.2em;
    position: absolute;
    font-family: Merriweather Sans;
    bottom: 8px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card9 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: cadetblue;
   }
   
   .card9:hover div {
    transform: translateY(-30px);
   }
/* thats all Thanks */